<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <style>
            .img-thumbnail{
                max-block-size: 250px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div th:each="livro : ${livros}">
                <img class="img-thumbnail" th:src="${livro.urlImagemLivro}" src=""></img>

                <div>Nome do Livro: <span th:text="${livro.nomeLivro}"> Nome  </span></div>

                <div>Autor(a) do Livro: <span th:text="${livro.autorLivro}"> Autor </span></div>

                <div>Sinopse: <span th:text="${livro.sinopse}"> Sinopse </span></div>
            </div>
        </div>
    </body>
</html>