<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <style>
            .img-thumbnail{
                height: 200px;
                width: 150px;
            }
            .logo{
                font-family: "Handlee", cursive;
                font-size: 2.5rem;
            }
            .jumbotron{
                background:lightsteelblue;
            }

        </style>
    </head>

    <body>
        <div class="jumbotron p-4">
            <div class="container text-center p-2">
                <h1 class="display-4 logo">MyBooks</h1>
                <span class="lead text-muted">Leitura organizada. Cadastre e gerencie seus livros.</span>
            </div>
        </div>

        <div class="container mt-3" style="text-align: right">
            <a class="btn btn-outline-primary" href="#" role="button">Novo</a>
        </div>

        <div class="container">
            <div th:each="livro : ${livros}">
                <div class="card mt-3">
                    <div class="card-header text-center "><span th:text="${livro.statusLeitura}"> Status </span></div>

                    <div class="card-body d-flex justify-content-around">
                        <img class="img-thumbnail col-4" th:src="${livro.urlImagemLivro}" src=""></img>
                        <div class="col-8">
                            <div class="card-title"><span th:text="${livro.nomeLivro}"> Nome  </span></div>

                            <div class="card-subtitle text-muted"><span th:text="${livro.autorLivro}"> Autor </span></div>
                            <br><br>
                            <div class="card-text"><span th:text="${livro.sinopse}"> Sinopse </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
